.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: white;
}
.ul {
    display: flex;
    color: black;
    justify-content: space-between;
}
.ul li{
    list-style: none;

}